<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../content/base.css">
		<link rel="stylesheet" type="text/css" href="../content/bootstrap-master/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../content/bootstrap-master/dist/css/bootstrap-theme.css">
	</head>
	<body>
		<div class="container ">
			<!-- Stack the columns on mobile by making one full-width and the other half-width -->
			<div class="row whiteBackground">
  				<div class="col-xs-12 darkRedBackground noPaddingLeft">
  					<img src="../Image/log.jpg">
  				</div>
  				<div class="col-xs-12">
  					<h3>
  						关于雅泰
  					</h3>
  				</div>
  				<div class="col-xs-12 ">
  					<p class="p2Indent">
  					    在经济全球化、人才国际化的今天，上海雅泰人力资源管理有限公司和上海雅泰劳动保障咨询服务有限公司聚集了一批在HR外包、商务咨询、测评咨询、专业猎头、培训咨询等领域志同道合的资深人士，雅泰人强强联合，开拓创新，用智慧、才情、胆略和毅力，共同打造雅泰在人力资源和国际商务管理咨询领域的专家形象，成为行业内一颗熠熠生辉的明星！
  					</p>
  				</div>
  				<div class="col-xs-12 ">
  					<p class="p2Indent">
  					    雅泰服务内容广泛，涵盖人事外包、商务咨询、测评培训、专业猎头、财务外包（代理记账、内部审计、税务咨询等）等一系列专业化、一条龙的人力资源和商务咨询服务，并且不断创新，努力打造品牌产品；同时，雅泰愿与广大客户互利互惠，共谋发展，以具有竞争力的合理收费，和专业、优质、高效的服务赢得客户的青睐！
  					</p>
  				</div>
  				<div class="col-xs-12 ">
  					<p class="p2Indent">
  					    雅泰立足上海，辐射亚太地区，拥有专业的服务团队和丰富的管理经验，秉承"专业、创新、高效、务实"的经营理念，以诚信为本，开创新之风，通过与国内外知名企业以及高等院校专家学者的密切合作，在不断发展中提升服务水准，在自我完善中铸造专业品质，倾力构建适合中国、面向全球的商务咨询和人力资源服务网络，为提高人才效能、推动企业发展、促进国际交流而不懈努力！
  					</p>
  				</div>
  				<div class="col-xs-12 ">
  					<p class="p2Indent">
  					    专业成就辉煌，诚信开创未来，雅泰人团结奋进，兢兢业业、致力于创建上海乃至亚太地区一流的人力资源与国际商务的管理咨询公司！五湖四海皆朋友，雅泰愿与企业界同仁们携手共进，以诚信赢得声誉，以专业打造品牌，用优质、高效的服务为广大企业及人才的发展敬助一臂之力！
  					</p>
  				</div>
  				<div class="col-xs-12">
  					<strong>上海雅泰人力资源管理有限公司</strong><br/>
  					<strong>Shanghai Asia-Pacific Human Resources Management Co.,Ltd.</strong>  			
  				</div>
  				<div class="col-xs-12">
  					<strong>上海雅泰劳动保障咨询服务有限公司</strong><br/>
  					<strong>Shanghai Asia-Pacific Labor Security Consulting Service Co.,Ltd.</strong>  			
  				</div>
  				<div class="col-xs-12">
  					<small>西藏中路336号华旭大厦2202-2203室 200001 电话：（8621）33303666</small>	<br/>
  					<small>Rm2202-2203 Plaza 336 No.336 Xi Zang Zhong Rd Shanghai</small>
  				</div>
			</div>
		</div>
	</body>  
</html>
