<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../content/base.css">
    <link rel="stylesheet" type="text/css" href="../content/bootstrap-master/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../content/bootstrap-master/dist/css/bootstrap-theme.css">
  </head>
  <body>
    <div class="container ">
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row whiteBackground">
          <div class="col-xs-12 darkRedBackground noPaddingLeft">
            <img src="../Image/log.jpg">
          </div>
          <div class="col-xs-12">
            <h3>
              上海雅泰劳动保障咨询服务有限公司基本概况
            </h3>
          </div>
          <div class="col-xs-12">
            <dl class="dl-horizontal">
              <dt>成立时间:</dt>
              <dd>2006年，由上海雅泰人力资源管理有限公司投资</dd>
              <dt>注册区:</dt>
              <dd>闸北区天目西街道，目前办公地址：黄浦区西藏路华旭国际大厦</dd>
              <dt>主营业务:</dt>
              <dd>为企业提供人事代理，劳务派遣，人才推荐，人事法规咨询等专业服务</dd>
              <dt>获得成绩:</dt>
              <dd>2007年加入上海市人才服务行业协会，目前为理事单位</dd>
              <dd>2007年-2014年连续7年获得”上海是人才服务行业协会“颁发的“信得过人才服务机构”称号。</dd>
              <dd>2008年，2010年，2012年连续三届获得“建行杯上海市住房公积金百家诚信缴交企业”称号，目前已经获得“终身诚信企业”称号。</dd>
              <dd>2013年申请获得注册商标</dd>
              <dd>2013年度上海人力资源服务业50强机构</dd>
              <dd>2014年通过ISO9001：2008质量管理体系认证。</dd>
            </dl>
          </div>
          

          <div class="col-xs-12 darkRedBackground">
            <strong>上海雅泰人力资源管理有限公司</strong><br/>
            <strong>Shanghai Asia-Pacific Human Resources Management Co.,Ltd.</strong>        
          </div>
          <div class="col-xs-12 darkRedBackground">
            <strong>上海雅泰劳动保障咨询服务有限公司</strong><br/>
            <strong>Shanghai Asia-Pacific Labor Security Consulting Service Co.,Ltd.</strong>       
          </div>
          <div class="col-xs-12 darkRedBackground">
            <small>西藏中路336号华旭大厦2202-2203室 200001 电话：（8621）33303666</small>  
            <br/>
            <small>Rm2202-2203 Plaza 336 No.336 Xi Zang Zhong Rd Shanghai</small>
          </div>
      </div>
    </div>
  </body>  
</html>
