<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../content/base.css">
    <link rel="stylesheet" type="text/css" href="../content/bootstrap-master/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../content/bootstrap-master/dist/css/bootstrap-theme.css">
  </head>
  <body>
    <div class="container ">
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row whiteBackground">
          <div class="col-xs-12 darkRedBackground noPaddingLeft">
            <img src="../Image/log.jpg">
          </div>
          <div class="col-xs-12">
            <h3>
              企业文化
            </h3>
          </div>
          <div class="col-xs-12 ">
            <p>
                “卓尔不凡为【雅】 文中祥瑞为【泰】”
            </p>
          </div>
          <div class="col-xs-12 ">
            <dl>
              <dt>品牌口号</dt>
              <dd>雅泰，您身边的人力资源专家<br/>APHR,Your Professional HR Solution</dd>
              <dt>企业精神</dt>
              <dd>专业、高效、创新、务实</dd>
              <dt>发展理念</dt>
              <dd>专业成就未来，用心决定品质</dd>
              <dt>价值观</dt>
              <dd>客户至上、用心服务、诚信共赢、追求卓越</dd>
              <dt>员工服务形象</dt>
              <dd>职业得体、大家风范</dd>
            </dl>
          </div>

          <div class="col-xs-12 darkRedBackground">
            <strong>上海雅泰人力资源管理有限公司</strong><br/>
            <strong>Shanghai Asia-Pacific Human Resources Management Co.,Ltd.</strong>        
          </div>
          <div class="col-xs-12 darkRedBackground">
            <strong>上海雅泰劳动保障咨询服务有限公司</strong><br/>
            <strong>Shanghai Asia-Pacific Labor Security Consulting Service Co.,Ltd.</strong>       
          </div>
          <div class="col-xs-12 darkRedBackground">
            <small>西藏中路336号华旭大厦2202-2203室 200001 电话：（8621）33303666</small>  <br/>
            <small>Rm2202-2203 Plaza 336 No.336 Xi Zang Zhong Rd Shanghai</small>
          </div>
      </div>
    </div>
  </body>  
</html>
