<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../content/base.css">
		<link rel="stylesheet" type="text/css" href="../content/bootstrap-master/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../content/bootstrap-master/dist/css/bootstrap-theme.css">
	</head>
	<body>
		<div class="container ">
			<!-- Stack the columns on mobile by making one full-width and the other half-width -->
			<div class="row whiteBackground">
  				<div class="col-xs-12 darkRedBackground noPaddingLeft">
  					<img src="../Image/log.jpg">
  				</div>
  				<div class="col-xs-12">
  					<h3>
  						联系雅泰
  					</h3>
  				</div>
  				<div class="col-xs-12 ">
  					<p>
  					    上海雅泰人力资源管理有限公司
  					</p>
            <p>
                上海雅泰劳动保障咨询服务有限公司
            </p>
            <p>
                地址: 黄浦区西藏中路336号华旭大厦2202-2203室（九江路口） 200001
            </p>
            <p>
                电话/传真: (021) 33303666 / 33303223
            </p>
            <p>
                深圳雅泰人力资源服务有限公司
            </p>    
            <p>
                地址: 深圳市罗湖区嘉宾路4051号金威大厦1812室 518019
            </p> 
            <p>
                电话/传真: (0755) 61628088 / 61327818
            </p>   
            <p>
                雅泰广州站
            </p>   
            <p>
                地址: 天津市和平区福安大街168号金茂广场4号楼2607室 300021
            </p>     
            <p>
                电话/传真: (022) 27332325 / 27332359
            </p>     
            <p>
                联系人: 凌云蓉
            </p>     
  				</div>  				
  				<div class="col-xs-12 darkRedBackground">
  					<strong>上海雅泰人力资源管理有限公司</strong><br/>
  					<strong>Shanghai Asia-Pacific Human Resources Management Co.,Ltd.</strong>  			
  				</div>
  				<div class="col-xs-12 darkRedBackground">
  					<strong>上海雅泰劳动保障咨询服务有限公司</strong><br/>
  					<strong>Shanghai Asia-Pacific Labor Security Consulting Service Co.,Ltd.</strong>  			
  				</div>
  				<div class="col-xs-12 darkRedBackground">
  					<small>西藏中路336号华旭大厦2202-2203室 200001 电话：（8621）33303666</small>	<br/>
  					<small>Rm2202-2203 Plaza 336 No.336 Xi Zang Zhong Rd Shanghai</small>
  				</div>
			</div>
		</div>
	</body>  
</html>
